@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
padding: 0;
margin: 0;
}
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 790px) {
.player {
	width: 60%;
	position: absolute;
	bottom: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
					transform: translate(-50%, 50%);

}
}
.player {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.video {
	width: 100%;
}
@media (min-width: 790px) {
	.controls {
		position: absolute;
		bottom: 0;
		opacity: 0.8;
}}
.controls {
	width: 100%;
	height: 2.2rem;
	background: black;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	 align-items: center;
	 transition: 0.1s;
}
.btn {
	color: white;
	background: black;
	border: none;
	font-size: 1em;
	padding: 0;
	min-width: 5%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.btn:hover, .btn:active {
	color: darkorchid;
}
.current-time {
	font-size: 0.9rem;
}
.range {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 3px;
	background: white;
}
.range::-moz-range-track {
	-moz-appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 3px;
	background: white;

}
.range::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: darkorchid;
	border: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: 0.1s;
	transition: 0.1s;
	}
.range::-moz-range-thumb {
	-moz-appearance: none;
		background-color: darkorchid;
		border: none;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		cursor: pointer;
		-webkit-transition: 0.1s;
		transition: 0.1s;
		}	
.range::-webkit-slider-thumb:hover,
.range::-webkit-slider-thumb:active {
	width: 13px;
	height: 13px;
}
.range::-moz-range-thumb:hover,
.range::-moz-range-thumb:active {
	width: 13px;
	height: 13px;
}
.range:focus {
	outline: none;
}
/* .range::-ms-track {
	width: 100%;
	background: transparent;
	cursor: pointer;
	border-color: transparent;
	color: transparent;
} */
.scroll-bar {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 50%;
	margin-right: 1%;
	-ms-flex-negative: 5;
			flex-shrink: 5;
	-webkit-box-flex: 5;
	    -ms-flex-positive: 5;
	        flex-grow: 5;
	
}
.quality {
	margin-right: 1%;
}
.volume-icon {
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	min-width: 3%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	
}
.volume {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 10%;
} 
.current-time {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: inline-block;
	min-width: 8%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-right: 2%;
}
.fullscreen {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

}
